image:
  repository: 753253020381.dkr.ecr.eu-west-1.amazonaws.com/harness-test-ruby-3-service
  tag: IMAGE_TAG

nameOverride: "harness-test-ruby-3-service"

ingress:
  enabled: true
  annotations:
    konghq.com/strip-path: "true"
    kubernetes.io/ingress.class: kong
  paths:
    - path: /harness/test-ruby-3-service
